@font-face {
  font-family: arcade;
  src: url(ARCADECLASSIC.TTF);
}
* {
   font-family: arcade;
}

.button {
	border: none;
	padding: 9px 16px;
	text-align: center;
	display: inline-block;
	font-size: 22px;
	font-family: arcade;
	margin: 20px;
	transition-duration: 0.1s;
	cursor: pointer;
}
			
.button1 {
	background-color: #FC4B08;
	color: white;
	border: 8px outset #CC5500;
}
.button1:hover {
	background-color: #F8D568;
	color: #7B3804;
	border: 8px outset #EAA222;
	transform: scale(1.3);
}
.button1:active {
	border: 8px inset #EAA222;
	transform: scale(0.98);
	color: white;
}
.sun {
	background-image: url('Sun.png');
	background-size: 75px;
	height: 75px;
	width: 75px;
}
.sun:hover {
	transition: scale(1.2);
}
.moon {
	background-image: url('Moon.png');
	background-size: 75px;
	height: 75px;
	width: 75px;
}
.moon:hover {
	transition: scale(1.2);
}
.h1 {
	color: white;
	font-size: 64px;
	font-weight: bold;
}
hr.hline {
	margin-top: 10px;
	margin-bottom: 10px;
}
