@font-face {
  font-family: arcade;
  src: url(ARCADECLASSIC.TTF);
}
@font-face {
	font-family: connectionSerif;
	src: url(ConnectionSerif-d20X.otf);
}
* {
   font-family: arcade;
}

.button {
	border: none;
	padding: 9px 16px;
	text-align: center;
	display: inline-block;
	font-size: 22px;
	font-family: arcade;
	margin: 20px 20px;
	transition-duration: 0.1s;
	cursor: pointer;
}
			
.button1 {
	background-color: #FC4B08;
	color: white;
	border: 8px outset #CC5500;
}
.button1:hover {
	background-color: #F8D568;
	color: #7B3804;
	border: 8px outset #EAA222;
	transform: scale(1.3);
}
.button1:active {
	border: 8px inset #EAA222;
	transform: scale(0.98);
	color: white;
}
.sun {
	background-image: url('Sun.png');
	background-size: cover;
	height: 75px;
	width: 75px;
}
.sun:hover {
	transform: scale(1.2) rotate(4deg);
}
.sun:active {
	transform: scale(0.8) rotate(360deg);
}
.moon {
	background-image: url('moon.png');
	background-size: cover;
	height: 75px;
	width: 75px;
}
.moon:hover {
	transform: scale(1.2);
}
.moon:active {
	transform: scale(0.8);
}
h1 {
	color: white;
	font-size: 64px;
	font-weight: bold;
}
p {
	font-size: 20px;
}
.eventDiv {
	width: 90%;
	background-color: rgba(0,0,0,0.7);
	backdrop-filter: blur(5px);
	align: center;
}
.eventDivL {
	width: 90%;
	background-color: rgba(255,167,86,0.7);
	backdrop-filter: blur(5px);
	align: center;
}
.bitmap {
	border: 30px solid black;
	margin: 20px 14px;
	padding: 8px;
	border-image: url("Bitmap.png") 21 / 28px 28px 28px 28px / 18px 18px 18px 18px round;
}
#race {
	width:1520px;
	height:1500px
	background-image: url('https://imagizer.imageshack.com/img922/9020/0W3tU2.png')no-repeat; 
	background-size:cover;
}
th {
	font-size: 34px;
}
